## This is for the exam project

In [1]:
##Imports
from time import sleep
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup as soup
import bs4
import requests
import re
import sys

### Numberplate to string without img handling

In [2]:
import cv2
import pytesseract
#pytesseract.pytesseract.tesseract_cmd = r'/usr/bin/tesseract'
pytesseract.pytesseract.tesseract_cmd = r'/opt/homebrew/Cellar/tesseract/4.1.1/bin/tesseract'
img = cv2.imread("./images/numberplate8.png")
text = pytesseract.image_to_string(img)
print(text)

### Numberplate to string with img handling

In [3]:
import cv2
import imutils
import numpy as np
import pytesseract
pytesseract.pytesseract.tesseract_cmd = r'/usr/bin/tesseract'

img2 = cv2.imread('./images/numberplate3.png',cv2.IMREAD_COLOR)
#img2 = cv2.resize(img, (600,400) )

gray = cv2.cvtColor(img2, cv2.COLOR_BGR2GRAY) 
gray = cv2.bilateralFilter(gray, 13, 15, 15) 

edged = cv2.Canny(gray, 30, 200) 
contours = cv2.findContours(edged.copy(), cv2.RETR_TREE, cv2.CHAIN_APPROX_SIMPLE)
contours = imutils.grab_contours(contours)
contours = sorted(contours, key = cv2.contourArea, reverse = True)[:10]
screenCnt = None

for c in contours:
    peri = cv2.arcLength(c, True)
    approx = cv2.approxPolyDP(c, 0.018 * peri, True)
 
    if len(approx) == 4:
        screenCnt = approx
        break

if screenCnt is None:
    detected = 0
    print ("No contour detected")
else:
     detected = 1

if detected == 1:
    cv2.drawContours(img, [screenCnt], -1, (0, 0, 255), 3)

mask = np.zeros(gray.shape,np.uint8)
new_image = cv2.drawContours(mask,[screenCnt],0,255,-1,)
#new_image = cv2.bitwise_and(img,img,mask=mask)

(x, y) = np.where(mask == 255)
(topx, topy) = (np.min(x), np.min(y))
(bottomx, bottomy) = (np.max(x), np.max(y))
Cropped = gray[topx:bottomx+1, topy:bottomy+1]

text = pytesseract.image_to_string(Cropped, config='--psm 11')
print("Nummerplade: ",text)
img2 = cv2.resize(img,(500,300))
Cropped = cv2.resize(Cropped,(400,200))
cv2.imshow('car',img)
cv2.imshow('Cropped',Cropped)

cv2.waitKey(0)
cv2.destroyAllWindows()

ModuleNotFoundError: No module named 'imutils'

### Entering numberplate on nummerplade.net to find model

In [11]:
print("Starting up..")
profile = webdriver.FirefoxProfile()
profile.set_preference("general.useragent.override", "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:81.0) Gecko/20100101 Firefox/81.0")
options = Options()
options.headless = True

# Lav jeres egen driver! 
browser = webdriver.Chrome(executable_path="/Users/frederikdahl/chromedriver/chromedriver")


#browser = webdriver.Firefox(options=options)

browser.get("https://www.nummerplade.net/")

print("Got Browser")

browser.implicitly_wait(3)

#cookie_button = browser.find_element_by_css_selector('div.coi-banner__page-footer:nth-child(2) > button:nth-child(2)')
#cookie_button.click()
#print("Cookie Button Clicked..")
#sleep(3) 

search_field = browser.find_element_by_id('search_regnr')

search_field.send_keys("CR 79 282")

button = browser.find_element_by_id('search_regnr_button')
button.click()
print("Search Entered")
sleep(3)

print()

page_source = browser.page_source
page_soup = soup(page_source,'html.parser')
res = page_soup.select_one("#maerke").text +" "+ page_soup.select_one("#model").text + ""

print("Søgte bil: ", res)
browser.quit()

Starting up..
Got Browser
Search Entered

Søgte bil:  Toyota Aygo

### Searching for model on bilbasen to get model,price,km,

In [18]:
base_url = 'https://www.bilbasen.dk/'

class my_car:
    def __init__(self, url):
        self.base_url = url
        self.car_list = []
        
        print("Starting up...")
        
        profile = webdriver.FirefoxProfile()
        profile.set_preference("general.useragent.override", "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:81.0) Gecko/20100101 Firefox/81.0")
        options = Options()
        options.headless = True
        
        #self.browser = webdriver.Firefox(options=options)
        
        self.browser  = webdriver.Chrome(executable_path="/Users/frederikdahl/chromedriver/chromedriver")
        
        self.browser.get(self.base_url)
        print("Got Browser")
        
        self.browser.implicitly_wait(3)
        
    def click_cookie_button(self):
        try:
            cookie_button = self.browser.find_element_by_id('onetrust-accept-btn-handler')
            try:
                cookie_button.click()
                print("Cookie Button Clicked")
                print()
                sleep(3)   
            except Exception as err:
                print('Error With Cookie Button:', err)
        except Exception as err:
            print(err)
            
    def click_leasing_button(self):
        try:
            leasing_button = self.browser.find_element_by_css_selector("label[data-track-action='leasing-toggle']")
            try:
                leasing_button.click()
                print("Leasing Button Clicked")
                print()
                sleep(3)   
            except Exception as err:
                print('Error With Leasing Button:', err)
        except Exception as err:
            print(err)
        
    def search_in_search_bar(self, search_text):
        try:
            search_field = self.browser.find_element_by_class_name('react-autosuggest__input')
            search_field.send_keys(search_text)
            search_field.submit()
            print("Search Bar Entered")
            print()
            sleep(3)

        except Exception as err:
            print('Error with Search', err)

    def get_car_list(self):
        print("Souping Site...")
        print()
        page_source = self.browser.page_source
        page_soup = soup(page_source,'html.parser')
        car_list_plus = page_soup.findAll("div",{"class":"row listing listing-plus bb-listing-clickable"})
        car_list_discount = page_soup.findAll("div",{"class":"row listing listing-discount bb-listing-clickable"})
        full_list = car_list_plus + car_list_discount
        print("Cars found: " + str(len(full_list)))
        for car in full_list:
            name = car.find("a",{"class":"listing-heading darkLink"}).contents[0]
            km = int(car.findAll("div",{"class":"col-xs-2 listing-data"})[1].contents[0].replace('.',''))
            price = car.find("div",{"class":"col-xs-3 listing-price"}).contents[0].replace(' kr.','').replace('.','')
            year = int(car.findAll("div",{"class":"col-xs-2 listing-data"})[2].contents[0])
            car_info = {"name": name, "km": km, "price": price, "year": year}
            self.car_list.append(car_info)
            print(car_info) 
            
    def close_browser(self):
        self.browser.close()
    
bilbasen = my_car(base_url)
bilbasen.click_cookie_button()
bilbasen.click_leasing_button()
bilbasen.search_in_search_bar(res)
print("Searching for: " + res + " ...")
bilbasen.get_car_list()
bilbasen.close_browser()
make_me_dataframe = bilbasen.car_list

Starting up...
Got Browser
Cookie Button Clicked

Leasing Button Clicked

Search Bar Entered

Searching for: Toyota Aygo ...
Souping Site...

Cars found: 31
{'name': 'Toyota Aygo 1,0 VVT-i x-press 5d', 'km': 54000, 'price': '56900', 'year': 2014}
{'name': 'Toyota Aygo 1,0 VVT-i x-change 5d', 'km': 98000, 'price': '59900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-play 5d', 'km': 39000, 'price': '69900', 'year': 2016}
{'name': 'Toyota Aygo 1,0 VVT-i x-black 5d', 'km': 67000, 'price': '77900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-sky 5d', 'km': 65000, 'price': '72900', 'year': 2017}
{'name': 'Toyota Aygo 1,0 VVT-i x-press 5d', 'km': 5071, 'price': '109900', 'year': 2020}
{'name': 'Toyota Aygo 1,0 Air+ 5d', 'km': 220000, 'price': '16900', 'year': 2011}
{'name': 'Toyota Aygo 1,0 VVT-i x-wave Sky 5d', 'km': 45000, 'price': '71900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-play Touch 5d', 'km': 47000, 'price': '74900', 'year': 2017}
{'name': 'Toyota Aygo 1,0 VVT-i x-touch 5d', 'km': 155000, 'price': '62500', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-press 5d', 'km': 72000, 'price': '63800', 'year': 2014}
{'name': 'Toyota Aygo 1,0 VVT-i x-clusiv 5d', 'km': 109000, 'price': '69800', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-press 5d', 'km': 6900, 'price': '102900', 'year': 2020}
{'name': 'Toyota Aygo 1,0 VVT-i x-press 5d', 'km': 10000, 'price': '104000', 'year': 2020}
{'name': 'Toyota Aygo 1,0 VVT-i x-sky 5d', 'km': 48000, 'price': '84900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-sky 5d', 'km': 44000, 'price': '79900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-play 5d', 'km': 56000, 'price': '59900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i T2 Air+ 5d', 'km': 118000, 'price': '42900', 'year': 2013}
{'name': 'Toyota Aygo 1,0  5d', 'km': 160000, 'price': '24800', 'year': 2009}
{'name': 'Toyota Aygo 1,0 VVT-i x-play Touch 5d', 'km': 57000, 'price': '62990', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-pression 5d', 'km': 16000, 'price': '94900', 'year': 2020}
{'name': 'Toyota Aygo 1,0 VVT-i x-clusiv 5d', 'km': 11000, 'price': '104900', 'year': 2019}
{'name': 'Toyota Aygo 1,0 VVT-i x-cellence 5d', 'km': 28000, 'price': '84800', 'year': 2018}
{'name': 'Toyota Aygo 1,0 VVT-i Black&White 5d', 'km': 179000, 'price': '35000', 'year': 2014}
{'name': 'Toyota Aygo 1,0 VVT-i x-press 5d', 'km': 107000, 'price': '53700', 'year': 2014}
{'name': 'Toyota Aygo 1,0 VVT-i x-cellence 5d', 'km': 27000, 'price': '84900', 'year': 2018}
{'name': 'Toyota Aygo 1,0 VVT-i T2 5d', 'km': 161000, 'price': '39900', 'year': 2013}
{'name': 'Toyota Aygo 1,0 VVT-i x-wave Sky 5d', 'km': 81700, 'price': '72900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x 5d', 'km': 91000, 'price': '54900', 'year': 2015}
{'name': 'Toyota Aygo 1,0 VVT-i x-cellence 5d', 'km': 57000, 'price': '79999', 'year': 2017}
{'name': 'Toyota Aygo 1,0  5d', 'km': 90000, 'price': '31900', 'year': 2008}

In [197]:
from sklearn import preprocessing
import sklearn.linear_model

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Import the data into a Pandas dataframe 
data = pd.DataFrame(make_me_dataframe)
# Show the head of the dataframe data.head() 
data.head()

#Remove outliers fra data (dataFrame)

                                name     km  price  year
0   Toyota Aygo 1,0 VVT-i x-press 5d  54000  56900  2014
1  Toyota Aygo 1,0 VVT-i x-change 5d  98000  59900  2015
2    Toyota Aygo 1,0 VVT-i x-play 5d  39000  69900  2016
3   Toyota Aygo 1,0 VVT-i x-black 5d  67000  77900  2015
4     Toyota Aygo 1,0 VVT-i x-sky 5d  65000  72900  2017

In [203]:
#Normalized data 

features = data[['km', 'year','price']]

#Normalize data (reduce values to be between 0 and 1)
scaler = preprocessing.MinMaxScaler()
names = features.columns
d = scaler.fit_transform(features)
scaled_df = pd.DataFrame(d, columns=names)
scaled_df.head()

         km      year     price
0  0.227652  0.500000  0.430108
1  0.432371  0.583333  0.462366
2  0.157861  0.666667  0.569892
3  0.288137  0.583333  0.655914
4  0.278832  0.750000  0.602151

In [207]:
# Describtion of data
data.describe()

                  km         year
count      31.000000    31.000000
mean    74989.387097  2015.387097
std     54797.068519     2.917504
min      5071.000000  2008.000000
25%     41500.000000  2014.000000
50%     57000.000000  2015.000000
75%    102500.000000  2017.000000
max    220000.000000  2020.000000

In [215]:
# Setting X based on km and year and then setting y for price

X = data[['km', 'year']]
y = data['price']


# Training and test sets 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [216]:
#Training the model

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [218]:
# Calculating the coefficient 

coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

      Coefficient
km      -0.199721
year  4706.051714

In [229]:
# Predictions 
y_pred = regressor.predict(X_test)

# Comparing predictions with the actual values 
df = pd.DataFrame({'Actual price': y_test, 'Predicted price': y_pred})
df

   Actual price  Predicted price
2         69900     78297.332941
29        79999     79408.404382
13       104000    102913.452462
10        63800     62294.432345
27        72900     65063.189134
25        84900     90106.089886
22        84800     89906.368759

In [276]:
# Predict price for the car we're searching for 

#Searched car values here: 


# First value is km driven and second is year 
# regressor.predict([[km's driven, year ]])

car_value = regressor.predict([[250000,2019]])

print(car_value)

[50274.33043642]

In [230]:
# Evaluate the percentage our algoritm is working with

# WHAT THE FUCK DOES THIS MEAN 

# https://stackabuse.com/linear-regression-in-python-with-scikit-learn/ 
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 4247.044751969033
Mean Squared Error: 26986471.65487028
Root Mean Squared Error: 5194.850493986355